<div class="container">
  <div class="close-dialog">
    <mat-icon aria-label="Example icon-button with a heart icon" (click)="close()">close</mat-icon>
  </div>

  <div class="full-price-container" mat-dialog-title>
    <h4 *ngIf="isPaymentRequired">Ви замовили більше 5 упаковок, в такому випадку передплата є обов'язковою!</h4>

    <div class="full-price">
      <span class="price-title">Сума до оплати: &nbsp; &nbsp;</span>
      <span class="price-desc">{{fullPrice}} ГРН</span>
    </div>
  </div>

  <form class="order-form"
        mat-dialog-content
        [formGroup]="orderForm"
        (ngSubmit)="saveOrder(orderForm)">

    <div class="table-container">
      <mat-form-field class="example-full-width">
        <input matInput type="text" placeholder="Ім'я"  formControlName="name" required>
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <input matInput type="text" placeholder="Прізвище"  formControlName="surname" required>
      </mat-form-field>
    </div>

    <mat-form-field class="example-full-width">
      <span matPrefix>+380 &nbsp;</span>
      <input type="tel" matInput placeholder="Номер Телефону" formControlName="phone" required>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <input type="text"
             placeholder="Виберіть Місто"
             aria-label="Assignee"
             matInput
             formControlName="city"
             [matAutocomplete]="auto"
             required/>
      <mat-autocomplete
          #auto="matAutocomplete"
          [displayWith]="displayFn">
        <mat-option *ngFor="let option of cityOptions$ | async"
                    [value]="option">
          {{option.name}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>

    <mat-form-field *ngIf="isAddressAvailable" class="example-full-width">
      <input type="text"
             placeholder="Адрес Нової Пошти"
             aria-label="NovaPoshta"
             matInput
             formControlName="address"
             [matAutocomplete]="auto"
             required/>
      <mat-autocomplete
              #auto="matAutocomplete"
              [displayWith]="displayFn">
        <mat-option *ngFor="let option of addressOptions$ | async" [value]="option">
          {{option.name}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>

    <button mat-flat-button
            [color]="businessColor"
            type="submit"
            [disabled]="!orderForm.dirty">Замовити
    </button>
  </form>
</div>
