.landing-container {
  .slider-container, .policy-1, .policy-2, .policy-3 {
    width: 100%;
    height: 100vh;
  }

  .slider-container {
    background-color: cornflowerblue;
  }

  .policy-1 {
    background-color: #6ceda8;
  }

  .policy-2 {
    background-color: #eda31e;
  }

  .policy-3 {
    background-color: #664bed;
  }
}
