<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark navbar-custom fixed-top">
  <div class="container">
    <a class="navbar-brand" routerLink="/order">Пoлітична Гречка</a>
    <!--
     <button class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarResponsive"
            aria-controls="navbarResponsive"
            aria-expanded="false"
            aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarResponsive">
         <ul class="navbar-nav ml-auto">
             Right side of navigation
             Example
             <li class="nav-item">
             <a class="nav-link" href="#"></a>
             </li>
         </ul>
     </div>
    -->
    <a class="btn btn-primary btn-xl mt-5 rating-button" href="#rating">
      <mat-icon aria-label="Example icon-button with a heart icon">arrow_downward
      </mat-icon>
      <span>Рейтинги!</span>
    </a>
  </div>
</nav>

<header class="masthead text-center text-white">
  <div class="masthead-content">
    <div class="container">
      <div class="masthead-heading mb-0 shadow-text-dark title-h1">
        Політична Гречка
      </div>
      <div class="masthead-heading mb-0 shadow-text-dark title-h2 header-sub-title">
         Подаруй пенсіонеру гречку!
      </div>
      <div class="masthead-subheading mb-0 shadow-text-dark title-h2"></div>
      <a class="btn btn-custom btn-primary btn-xl mt-5"
        href="#order">Замовити</a>
    </div>
  </div>
  <!--<div class="bg-circle-1 bg-circle header-image"></div>-->
  <!--<div class="bg-circle-2 bg-circle header-image"></div>-->
  <!--<div class="bg-circle-3 bg-circle header-image"></div>-->
  <!--<div class="bg-circle-4 bg-circle header-image"></div>-->
</header>
<div class="section-container landing-content">
  <section>
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6 col-sm-12">
          <div class="p-5 image-container">
            <img class="img-fluid rounded-circle"
              src="assets/image/petro-1.png"
              alt="">
            <div class="image-block block-1"></div>
          </div>
        </div>
        <div class="col-lg-6 col-sm-12">
          <div class="p-5">
            <div class="display-4 title-h2">Петро I</div>
            <p>Петро I - Вже з часів "Лихих 90-тих" забеспечував українців какао-бобами. Об'єднавши кондиторські
                фабрики здобув титул Шоколадного Короля, увірувавши в ласні сили, здобуває титул Короля
                Держави.</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6 col-sm-12 col-sm-12 order-lg-2">
          <div class="p-5 image-container">
            <img class="img-fluid rounded-circle"
              src="assets/image/sluga-naroda.png"
              alt="">
            <div class="image-block block-2"></div>
          </div>
        </div>
        <div class="col-lg-6 col-sm-12 order-lg-1">
          <div class="p-5">
            <div class="display-4 title-h2">Слуга Народу</div>
            <p>Володька - Головний Державний Веселун. Вжившись в роль гаранта, пробує перетворити казку в
                дійсність. Ще кажуть що його кришують, але це не точно.</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6 col-sm-12">
          <div class="p-5 image-container">
            <img class="img-fluid rounded-circle"
              src="assets/image/vona-pracue.png"
              alt="">
            <div class="image-block block-3"></div>
          </div>
        </div>
        <div class="col-lg-6 col-sm-12">
          <div class="p-5">
            <div class="display-4 title-h2">Вона Працює</div>
            <p>Юлька - Народ знайомий з нею вже давно. П'є воду з джерела молодості. Кажуть порішає газ - має
                зв'язки.</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6 col-sm-12 order-lg-2">
          <div class="p-5 image-container">
            <img class="img-fluid rounded-circle"
              src="assets/image/nastup.png"
              alt="">
            <div class="image-block block-4"></div>
          </div>
        </div>
        <div class="col-lg-6 col-sm-12 order-lg-1">
          <div class="p-5">
            <div class="display-4 title-h2">Наступний</div>
            <p>Андрійко - Князь міста Лева. Але князівства стало мало. Готує наступ. Думає що стане наступним. Каже
                відкритий до співпраці з усіма.</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6 col-sm-12">
          <div class="p-5 image-container">
            <img class="img-fluid rounded-circle"
              src="assets/image/radykal.png"
              alt="">
            <div class="image-block block-5"></div>
          </div>
        </div>
        <div class="col-lg-6 col-sm-12">
          <div class="p-5">
            <div class="display-4 title-h2">Радикал</div>
            <p>Олежик - Дуже емоційна особистість. Впевненості йому додають вила. Чи він щось корисне зробив ? Нам
              не відомо.</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <div class="steps-wrapper">
    <div class="steps-info-container">
      <div class="step-item mission">
        <h3>Місія:</h3>
        <p>Заклик громадян прийти на вибори, та проголосувати.</p>
      </div>
      <div class="step-item goal">
        <h3>Ціль:</h3>
        <p>Посприяти чесним виборам.</p>
      </div>
      <div class="step-item value">
        <h3>Цінності:</h3>
        <p>Справедливі вибори є ефективним способом змінити владу на краще.</p>
      </div>
    </div>
  </div>

  <div class="order-container" id="order">
    <app-order></app-order>
  </div>

  <div class="container rating-container" id="rating">
    <div class="title">Рейтинг Кандидатів:</div>
    <app-rating *ngIf="rating" [rating]="rating"></app-rating>
  </div>
</div>

<!-- Footer -->
<footer class="py-5 bg-black">
  <div class="container">
    <!--<p class="m-0 text-white small">&copy; Politychna Grechka-->
      <!--2019</p>-->
    <a href="https://www.facebook.com/politichnagrechka" class="link-wrapper" target="_blank">
      <img src="../../assets/facebook.png" alt="">
      <span class="text-white">Політична Гречка</span>
    </a>
    <a href="https://www.instagram.com/politychna_grechka/" class="link-wrapper" target="_blank">
      <img src="../../assets/instagram.png" alt="">
      <span class="text-white">politychna_grechka</span>
    </a>
  </div>
  <!-- /.container -->
</footer>

