<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark navbar-custom fixed-top">
    <div class="container">
        <a class="navbar-brand" routerLink="/order">Пoлітична Гречка</a>
        <a class="btn mt-5 rating-button" href="#rating">
            <mat-icon aria-label="Example icon-button with a heart icon">arrow_downward
            </mat-icon>
            <span>Рейтинги!</span>
        </a>
    </div>
</nav>

<header class="masthead text-white">
    <div class="masthead-content header-container">
        <div class="container">
            <div class="masthead-heading shadow-text-dark title-h1">
                Політична Гречка
            </div>
            <div class="masthead-heading shadow-text-dark font-standard title-h3">
                Візьми участь в
                <br>
                акції та подаруй
                <br>
                пенсіонеру гречку
            </div>
            <div class="masthead-subheading shadow-text-dark title-h2"></div>
            <a class="btn btn-do-order btn-xl mt-5"
               href="#order">Замовити</a>
        </div>
    </div>
    <div class="building-box"></div>
    <!--<div class="bg-circle-1 bg-circle header-image"></div>-->
    <!--<div class="bg-circle-2 bg-circle header-image"></div>-->
    <!--<div class="bg-circle-3 bg-circle header-image"></div>-->
    <!--<div class="bg-circle-4 bg-circle header-image"></div>-->
</header>
<div class="section-container landing-content">
    <div class="instruction-wrapper">
        <div class="instruction-container">
            <div class="instruction-item">
                <img src="../../assets/icons/4-01.png" alt="" class="instruction-image">
                <p>Придбай одну упаковку #Політичної Гречкт</p>
            </div>
            <div class="instruction-item">
                <img src="../../assets/icons/5-01.png" alt="" class="instruction-image">
                <p>Зроби фото та запости його в соцмережі з хештегом #Політична Гречка</p>
            </div>
            <div class="instruction-item">
                <img src="../../assets/icons/6-01.png" alt="" class="instruction-image">
                <p>Кошти від покупки підуть на благодійну допомогу пенсіонерам. За одну пачку #Політичної Гречки
                    пенсіонери отримають дві пачки звичайної.</p>
            </div>
        </div>
    </div>

    <section>
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 col-sm-12">
                    <div class="p-5 image-container">
                        <img class="img-fluid rounded-circle"
                             src="assets/image/petro-1.png"
                             alt="">
                        <div class="image-block block-1"></div>
                    </div>
                </div>
                <div class="col-lg-6 col-sm-12">
                    <div class="p-5">
                        <div class="display-4 title-h3">Петро I</div>
                        <p>Петро I - Вже з часів "Лихих 90-тих" забеспечував українців какао-бобами. Об'єднавши
                            кондиторські
                            фабрики здобув титул Шоколадного Короля, увірувавши в ласні сили, здобуває титул Короля
                            Держави.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 col-sm-12 col-sm-12 order-lg-2">
                    <div class="p-5 image-container">
                        <img class="img-fluid rounded-circle"
                             src="assets/image/sluga-naroda.png"
                             alt="">
                        <div class="image-block block-2"></div>
                    </div>
                </div>
                <div class="col-lg-6 col-sm-12 order-lg-1">
                    <div class="p-5">
                        <div class="display-4 title-h3">Слуга Народу</div>
                        <p>Володька - Головний Державний Веселун. Вжившись в роль гаранта, пробує перетворити казку в
                            дійсність. Ще кажуть що його кришують, але це не точно.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 col-sm-12">
                    <div class="p-5 image-container">
                        <img class="img-fluid rounded-circle"
                             src="assets/image/vona-pracue.png"
                             alt="">
                        <div class="image-block block-3"></div>
                    </div>
                </div>
                <div class="col-lg-6 col-sm-12">
                    <div class="p-5">
                        <div class="display-4 title-h3">Вона Працює</div>
                        <p>Юлька - Народ знайомий з нею вже давно. П'є воду з джерела молодості. Кажуть порішає газ -
                            має зв'язки</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 col-sm-12 order-lg-2">
                    <div class="p-5 image-container">
                        <img class="img-fluid rounded-circle"
                             src="assets/image/nastup.png"
                             alt="">
                        <div class="image-block block-4"></div>
                    </div>
                </div>
                <div class="col-lg-6 col-sm-12 order-lg-1">
                    <div class="p-5">
                        <div class="display-4 title-h3">Наступний</div>
                        <p>Андрійко - Князь міста Лева. Але князівства стало мало. Готує наступ. Думає що стане
                            наступним. Каже
                            відкритий до співпраці з усіма.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 col-sm-12">
                    <div class="p-5 image-container">
                        <img class="img-fluid rounded-circle"
                             src="assets/image/radykal.png"
                             alt="">
                        <div class="image-block block-5"></div>
                    </div>
                </div>
                <div class="col-lg-6 col-sm-12">
                    <div class="p-5">
                        <div class="display-4 title-h3">Радикал</div>
                        <p>Олежик - Дуже емоційна особистість. Впевненості йому додають вила. Чи він щось корисне зробив
                            ? Нам
                            не відомо.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="steps-wrapper">
        <div class="steps-info-container">
            <div class="step-item mission">
                <img src="../../assets/icons/1-01.png" alt="" class="step-image">
                <h3>Місія</h3>
                <p>Заклик громадян прийти на вибори, та проголосувати</p>
            </div>
            <div class="step-item goal">
                <img src="../../assets/icons/2-01.png" alt="" class="step-image">
                <h3>Ціль</h3>
                <p>Посприяти чесним виборам</p>
            </div>
            <div class="step-item value">
                <img src="../../assets/icons/3-01.png" alt="" class="step-image">
                <h3>Цінності</h3>
                <p>Справедливі вибори є ефективним способом змінити владу на краще</p>
            </div>
        </div>
    </div>

    <div class="landing-order-wrapper">
        <div class="title-h3 text-white instruction-order">
            Для того щоб зробити замовлення,
            <br>
            обери кількість кожного з кандидатів
            <br>
            татисни кнопку замовити
        </div>
        <div class="landing-order-container" id="order">
            <app-order></app-order>
        </div>
    </div>

    <div class="container rating-container" id="rating">
        <div class="title">Рейтинг Кандидатів:</div>
        <app-rating *ngIf="rating" [rating]="rating"></app-rating>
    </div>
</div>

<!-- Footer -->
<footer class="py-5 bg-black">
    <div class="container">
        <!--<p class="m-0 text-white small">&copy; Politychna Grechka-->
        <!--2019</p>-->
        <a href="https://www.facebook.com/politichnagrechka" class="link-wrapper" target="_blank">
            <img src="../../assets/facebook.png" alt="">
            <span class="text-white">Політична Гречка</span>
        </a>
        <a href="https://www.instagram.com/politychna_grechka/" class="link-wrapper" target="_blank">
            <img src="../../assets/instagram.png" alt="">
            <span class="text-white">politychna_grechka</span>
        </a>
    </div>
    <!-- /.container -->
</footer>

