.order-container {
  height: 100%;

  @media screen and (min-width: 1080px) {
    height: 100vh;
  }

  .order-wrapper {
    min-height: 100%;
    padding: 70px 0 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: nowrap;
    //background: linear-gradient(to right, #f64f3f 0%,#ec1e75 100%);
    background-color: #28be9b;
  }

  .order-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    .order-item {
      margin: 10px;
    }
  }

  .do-order {
    width: 100%;
    display: flex;
    margin-top: 30px;
    box-sizing: border-box;
    justify-content: center;

    button {
      width: 80%;
      padding: 5px;
    }
  }
}