.success-container {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: flex-start;
  padding-top: 100px;
  box-sizing: border-box;
  background: linear-gradient(to right, #f64f3f 0%,#ec1e75 100%);

  .success-message {
    text-align: center;
    color: white;
  }
}
