@import "../style/mixins";

.success-container {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: flex-start;
  padding-top: 100px;
  box-sizing: border-box;
  @extend %business-gradient;

  .success-message {
    text-align: center;
    color: white;
  }
}
