body {
  @include body-font;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @include heading-font;
}

.title-h1 {
  font-size: 3.4em;
  margin: 20px 0;
  font-weight: bold;
  @media screen and (max-width: 680px) {
    font-size: 2em;
  }
}

.title-h2 {
  font-size: 2rem;
  margin: 20px 0;
  font-weight: bold;
  @media screen and (max-width: 680px) {
    font-size: 1.6em;
  }
}

.title-h3 {
  font-size: 1.6rem;
  margin: 20px 0;
  font-weight: bold;
  @media screen and (max-width: 680px) {
    font-size: 1.3em;
  }
}


//h1 {
//  @media screen and (max-width: 800px) {
//    font-size: 2.5em;
//  }
//}
//
//h2 {
//  @media screen and (max-width: 800px) {
//    font-size: 2em;
//  }
//}

.p-5 {
  @media screen and (max-width: 680px) {
    padding: 10px 0 !important;
  }
}

.btn-xl {
  text-transform: uppercase;
  padding: 1.5rem 3rem;
  font-size: 0.9rem;
  font-weight: 700;
  letter-spacing: 0.1rem;
}

.bg-black {
  background-color: $black !important;
}

.rounded-pill {
  border-radius: 5rem;
}
