/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "app/style/one-page-wonder";
@import '~bootstrap/dist/css/bootstrap.min.css';

.btn {
  border-color: white;
}

.shadow-text-dark {
  text-shadow: 2px 2px 2px #3d3a3a !important;
}

.shadow-text-light {
  text-shadow: 2px 2px 2px #3d3a3a !important;
}

router-outlet ~ * {
  position: absolute;
  height: 100%;
  width: 100%;
}
